body{
    font-family: 'InkyThinPixels';
    margin: 0;
    padding: 0;
    background: url('files/bg.png') fixed;
    background-size: cover;
}

.header{
    display: flex;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.25);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    padding: 10px;
}

.logo{  
    margin-right: 130px;
}

.logo img{
    width: 90px;
    height: 90px;
}

.menu{
    margin-left: 130px;
}

.menu ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

.icns{
    margin-left: 0;
    margin-right: 150px;
    display: flex;
    align-items: center;
}

.icns img{   
    margin: 20px;
    width: 60px;
    height: 60px;
}

h1{
    font-size: 50px;
    color: white;
    margin-left: 80px;
}


@font-face {
    font-family: 'InkyThinPixels';
    src: url(font/ljk_Inky-Thin-Pixels.otf) format(opentype);
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .menu ul {
        flex-direction: column;
    }

    .logo img {
        width: 60px;
        height: 60px;
    }

    .menu a {
        font-size: 18px;
    }
}