.mobile-nav-btn {
    display: none;

    @media (max-width: 650px) {
      display: flex;
      align-items: center;
    }
}
  
.menu-toggle {
    position: relative;
    top: 0;
    right: 0;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
  
.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 3;
    position: absolute;
    top: 86px;
    right: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: max-height 0.3s ease-out;
}
  
.menu a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #171717;
    font-size: 24px;
}
  
.menu a:hover {
    background: #444;
}
  
.menu.active {
    max-height: 300px;
}
  
.title-btn {
    display: flex;
    -moz-column-gap: 40px;
         column-gap: 10px;
    align-items: center;

    @media (min-width: 650px) {
        column-gap: 40px;
    }
}

.whatsapp-order-mobile {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    margin: auto;
    border-radius: 10px;
    column-gap: 2px;

    background-color: #00D547;
    
    a {
      font-size: 16px;
      color: white;
    }
}

.whatsapp-order-icons img{
    width: 40px;
    height: 40px;
}