.nav {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);

    @media (max-width: 650px) {
      z-index: 999;
      padding: 15px;
      background-image: url("../../../files/background/bg-dark.png");
      background-attachment: local;
      background-size: cover;
      position: sticky;
      top: 0;
    }
  }
  
  .nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 650px) {
    .nav-row {
      column-gap: 0;
    }
  }
  
  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
  }
  
  .logo {
    display: flex;
    text-align: center;
    align-items: center;
  }
  
  .logo__img {
    display: flex;
    margin-right: -10px;
    margin-left: 20px;
  }

  @media (max-width: 540px) {
    .logo__img {
      width: 56px;
      height: 56px;
    }
  }
  
  .logo__title {
    display: none;
    margin-left: 20px;
    color: #fff;
    font-size: 32px;
  }

  @media (max-width: 650px) {
    .logo__title {
      display: flex;
    }
  }
  
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }

  @media (max-width: 650px) {
    .nav-list {
      display: none;
    }
  }
  
  .nav-list__link {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
  }

  .whatsapp-order {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    column-gap: 5px;

    background-color: #00D547;
    
    a {
      font-size: 20px;
      color: white;
    }

    @media (max-width: 650px) {
      display: none;
    }
  }
